/* Inicio página de producto/servicios/promociones */
.containerProductos {
    margin-top: 7%;
       .desta {
        @extend %tituloDestacado;
        @media screen and (max-width: 400px) {
            padding-top: 16%;   
        }
        @media screen and (min-width: 401px) and (max-width: 800px) {
            padding-top: 60px;
        }  
        @media screen and (min-width: 801px) and (max-width: 1180px) {
            padding-top: 50px;
        } 
    } 
    .contenedorDeImagenes {
        display: flex;
        justify-content: center;
        .subContenedorImgs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media screen and (max-width: 400px) {
                flex-direction: row;   
            }
            .imagenesA {
                height: 400px;
                width: 400px;
                margin-bottom: 1vw; 
                margin-right: 1vw;
                .tamaño {
                    max-width: 400px;
                    border-radius: 10px;
                    transition: all 1s;
                    &:hover { transform: scale(1.2);
                    }
                }
            }
        }       
        
    }
}
/* Fin página de producto/servicios/promociones */